* {
    font-family: 'Times New Roman', Times, serif;
}

.inside {
    list-style-position: outside;
    background-color: rgb(215, 215, 215);
    width: 300px;
    border: 2px solid white;
}

#div1 li::marker{
    color: aqua;
    font-weight: bold;
}

#inside2 {
    background-color: rgb(241, 241, 241);
}

.outside {
    list-style-position: inside;
    background-color: rgb(215, 215, 215);
    width: 300px;
    border: 2px solid white;
    list-style-type: none;
    text-align: left;
}

b {
    color: aqua;
}

.inside3 {
    list-style-position: outside;
    background-color: rgb(215, 215, 215);
    width: 300px;
    border: 2px solid white;
}

#div3 li::marker{
    color: red;
    font-weight: bold;
}

#inside3 {
    background-color: rgb(241, 241, 241);
}

.outside3 {
    list-style-position: inside;
    background-color: rgb(215, 215, 215);
    width: 300px;
    border: 2px solid white;
    list-style-type: none;
    text-align: left;
}

#b3 {
    color: red;
}